<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--Tokens-->
    <add key="Token" value="Mjg0MzcwNjgyOTQ1NDcwNDY1.C6Lolw.oG0djvmvavI2KsSPX-ZQWyPZ4BE" />
  </appSettings>
</configuration>